h4{
    color: cadetblue;
}

.cart:hover{
    
    border: 3px solid azure;
}


.Provide{
color: maroon !important;
}

.btn-course{
    background-color: maroon;
    border: 1px solid lightgrey;
    border-radius: 5px;
    color: whitesmoke;
    height: 40px;
    width: 100px;
}
.body{
    background-color:azure;
}